@import 'tailwindcss';

:root {
  /* Primary Colors */
  --primary: #0ea06f;
  --secondary: #34d399;
  --accent: #065f46;

  /* Backgrounds*/
  --background: #0a0f0a;
  --background-dark: #051105;
  --card-bg: #0f1a0f;

  /* Text Colors */
  --foreground: #f8fafc;
  --text-muted: #94a3b8;

  /* Status Colors */
  --positive: #10b981;
  --negative: #ef4444;
  --warning: #f59e0b;

  /* Input Elements */
  --input-bg: #0f1a0f;
  --input-border: #1e293b;
  --input-focus: #10b981;

  /* Neutral Colors for Modals & Contrast */
  --surface: #1a1f1a;
  --surface-light: #2a2f2a;
  --surface-border: #374151;
}

@theme inline {
  /* Primary Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* Backgrounds */
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-card: var(--card-bg);

  /* Text */
  --color-foreground: var(--foreground);
  --color-muted: var(--text-muted);

  /* Status */
  --color-positive: var(--positive);
  --color-negative: var(--negative);
  --color-warning: var(--warning);

  /* Inputs */
  --color-inputbg: var(--input-bg);
  --color-inputbrdr: var(--input-border);
  --color-inputfocus: var(--input-focus);

  /* Surface Colors */
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-surface-border: var(--surface-border);
}
